doctype html
head
  title= "Room: " + room
  
  link(rel="stylesheet" href="/css/main.css")
  link(rel="stylesheet" href="/css/room.css")
body
  h1= "Username: " + username
  h2= "Room: " + room
  
  div.container
    div.left
      div#_messages
        ui#messages
          each message in messages
            li= `${message.author}: ${message.content}`
            br
            
      p#isTypingIndicator
            
      div#message-input
        form#form()
          input#text(autocomplete="off" autofocus="on" placeholder="type your message here...")
          button(type="submit")
            img(src="/images/send.png")
        
    div.right
      h3 Users Connected
      ui#users
    
  button#toggleSnap(onclick="toggleSnapping()") Turn off Snapping
    
  a(href="/user") Join Another Room
  
  script(src="/socket.io/socket.io.js")
  script.
    let username = "#{username}"
    let room = "#{room}"
    let SESSION_ID = "#{SESSION_ID}"
  script(src="/js/room.js")